$border-color: $gray-200;
$text-white: $white;
$text-secondary: $secondary;
$mobile-menu-info-bg: $primary;
$mobile-menu-bg: $gray-100;
$background-secondary: $secondary;
$mobile-menu-info-link-color: $gray-400;
$header-background: $gray-50;
$bg-white: $white;
$cart-text-color: $gray-700;
$cart-text-secondary-color: $gray-600;
$cart-quantity-bg-color: $gray-300;
$box-shadow-color: $gray-400;
$border-color-dark: $gray-450;
$select-text-color: $gray-600;
$select-icon-color: $gray-700;

.main-header {
  padding: 15px 0;
  position: relative;
  border-bottom: 2px solid $border-color;
  background: $header-background;

  .container {
    padding: 0 24px;
  }
  .navbar {
    padding: 0;
    .navbar-brand {
      padding: 0;
    }
    .search-form {
      position: absolute;
      top: 180%;
      left: 0;
      width: 100%;
      display: block;
      &-icon {
        cursor: pointer;
      }
      .form-control {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    &-action {
      .icon-wrapper {
        width: 40px;
        height: 31px;
        margin: 0;
        position: relative;

        .small-cart-products-number,
        .wishlist-number {
          position: absolute;
          top: 3px;
          right: 7px;
          color: $text-white;
          font-size: 0.64rem;
        }
      }
      .small-cart-title {
        font-weight: 700;
        a {
          transition: 0.3s linear;
        }
      }
      .small-cart-total-price {
        font-size: 0.85rem;
      }
      .small-cart-dropdown {
        background: $bg-white;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        max-width: 400px;
        color: $cart-text-color;
        font-size: 1.14rem;
        display: none;
        z-index: 200;
        &.active {
          display: block;
        }
        &-header {
          border-bottom: 1px solid $border-color;
          padding: 30px 30px 20px 30px;
        }
        .small-cart-items {
          .small-cart-item {
            border-bottom: 1px solid $border-color;
            padding: 20px 30px;
            &-details {
              &-info {
                color: $cart-text-secondary-color;
                text-transform: capitalize;
              }
            }
            &-quantity {
              &-amount {
                padding: 7px 10px;
                border-radius: 3px;
                background: $cart-quantity-bg-color;
              }
            }
            &-action {
              .hover {
                display: none;
              }
              .small-cart-item-action-edit:hover .hover,
              .small-cart-item-action-delete:hover .hover {
                display: inline-block;
              }
              .small-cart-item-action-edit:hover .active,
              .small-cart-item-action-delete:hover .active {
                display: none;
              }
            }
          }
        }
        .small-cart-dropdown-view {
          padding: 20px 30px;
          text-align: center;
        }
      }

      .wishlist-title {
        font-weight: 700;
        a {
          transition: 0.3s linear;
        }
      }
    }
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    transition: 0.3s linear;
    overflow: scroll;
    max-width: 400px;
    z-index: 100;
    background: $mobile-menu-bg;
    &.active {
      left: 0;
    }

    &-info {
      background: $mobile-menu-info-bg;
      color: $text-white;
      padding: 25px;
      .mobile-menu-close {
        cursor: pointer;
      }
      &-link {
        font-size: 0.85rem;
        padding: 8px 0;
        color: $mobile-menu-info-link-color;
        &-icon {
          width: 18px;
          height: 18px;
        }
      }
    }
    &-nav {
      box-shadow: 0 4px 6px rgba($black, 0.16);
      &-item {
        transition: 0.3s linear;
        &:hover {
          background: $background-secondary;
        }
      }
      &-link {
        display: block;
        text-transform: capitalize;
        font-size: 1.14rem;
        padding: 13px 25px;
        position: relative;
        &:hover {
          color: $text-white;
          text-decoration: none;
        }

        &-arrow {
          position: absolute;
          top: 50%;
          right: 25px;
          transform: translateY(-50%);
        }
      }
    }
    &-action {
      padding: 0 25px;
      .icon-wrapper {
        width: 40px;
        height: 40px;
        margin: 0;
        position: relative;

        .small-cart-products-number,
        .wishlist-number {
          position: absolute;
          top: 3px;
          right: 7px;
          color: $text-white;
          font-size: 0.64rem;
        }
      }
      .small-cart-title {
        font-weight: 700;
        a {
          transition: 0.3s linear;
        }
      }
      .small-cart-total-price {
        font-size: 0.85rem;
      }
      .wishlist-title {
        font-weight: 700;
        a {
          transition: 0.3s linear;
        }
      }
    }
  }
  .mobile-menu-level-1 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    transition: 0.3s linear;
    overflow: scroll;
    background: $bg-white;
    padding: 25px;
    max-width: 400px;
    z-index: 100;
    &.active {
      left: 0;
    }
    &-header {
      .back {
        font-size: 0.85rem;
      }
      .category {
        font-size: 1.14rem;
        text-transform: capitalize;
      }
    }
    .category-item {
      .category-content {
        .category-title {
          text-transform: capitalize;
          font-size: 1.14rem;
          margin-bottom: 0.2rem;
          a {
            transition: 0.2s linear;
          }
        }
        .category-description {
          font-size: 0.92rem;
          line-height: 1.3;
          max-height: 2.6rem;
          overflow: hidden;
          text-transform: capitalize;
        }
      }
    }
    .most-popular-product {
      &-title {
        text-transform: capitalize;
        font-weight: 700;
      }
      &-description {
        text-transform: capitalize;
      }
      &-price {
        font-size: 1.71rem;
        font-weight: 700;
      }
    }
  }
  .filters {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    transition: 0.3s linear;
    max-width: 400px;
    z-index: 200;
    overflow: scroll;
    &-select-vehicle {
      .filters-type {
        line-height: 1.2;
        padding: 15px 0 15px 10px;
        border-bottom: 2px solid $border-color-light;
        font-size: 1.14rem;
        font-weight: 700;
        text-transform: capitalize;
      }
      .filter-form {
        padding: 10px 15px;
        border-bottom: 2px solid $border-color-dark;
        .select2-container--default {
          .select2-selection--single {
            background-color: transparent;
            border: 1px solid $border-color;
            padding: 8px 10px;
            font-weight: 300;

            .select2-selection__rendered {
              color: $select-text-color;
            }
            .select2-selection__arrow b {
              border-color: $select-icon-color transparent transparent;
              border-width: 7px 7px 0;
              margin-left: -12px;
            }
          }
        }
      }
    }
    &.active {
      left: 0;
    }
  }

  .overlay-body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .main-header {
    .container {
      padding: 0 15px;
    }
    .navbar {
      .working-hours,
      .description {
        line-height: 1.2;
        font-size: 0.75rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-header {
    .navbar {
      .search-form {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-header {
    .navbar {
      .search-form {
        width: 40%;
        left: auto;
        transform: translateX(0);
        position: static;
        top: auto;
        margin: 0;
      }
      .working-hours,
      .description {
        line-height: 1.2;
        font-size: 0.85rem;
      }
      &-action {
        .small-cart-wrapper:hover .small-cart-dropdown {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 1230px) {
  .main-header {
    border-bottom: none;
    padding: 0;
    box-shadow: 0 4px 6px rgba($black, 0.1);
    .header-top {
      padding: 8px 0;
      .container {
        padding: 0 15px;
        border-bottom: none;
      }
      .header-top-link {
        font-size: 0.85rem;
        color: $mobile-menu-info-link-color;
        margin-right: 30px;
        transition: 0.3s linear;
        &:hover {
          color: $text-secondary;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .navbar {
      padding: 20px 0;
      border-bottom: 2px solid $border-color;
      .search-form {
        width: 40%;
        .form-control {
          &::placeholder {
            opacity: 1;
          }
        }
      }
      &-action {
        .small-cart-dropdown {
          top: 70%;
          right: -5%;
        }
      }
    }
  }
  .header-bottom {
    padding: 20px 0;
    .nav-item {
      padding-right: 38px;
      .nav-link {
        display: inline-block;
        padding: 0;
        text-transform: capitalize;
        font-size: 1.125rem;
        transition: 0.1s linear;
      }
      &:hover .nav-link {
        text-decoration: underline;
        color: $text-secondary;
      }
      .dropdown {
        position: absolute;
        top: 88%;
        left: 0;
        width: 100%;
        display: none;
        background: $bg-white;
        box-shadow: 0 4px 6px rgba($black, 0.16);
        padding: 35px 30px;
        z-index: 150;
        .container {
          max-width: 1330px;
        }
        .category-item {
          .category-content {
            .category-title {
              text-transform: capitalize;
              font-size: 1.14rem;
              margin-bottom: 0.2rem;
              a {
                transition: 0.2s linear;
              }
            }
            .category-description {
              font-size: 0.92rem;
              line-height: 1.3;
              text-transform: capitalize;
            }
          }
        }
        .most-popular-product {
          &-title {
            text-transform: capitalize;
            font-weight: 700;
          }
          &-description {
            text-transform: capitalize;
          }
          &-price {
            font-size: 1.71rem;
            font-weight: 700;
          }
          &-content {
            .most-popular-product-img {
              width: 50%;
            }
            .most-popular-product-content-description {
              width: 50%;
            }
          }
        }
      }
    }
    .nav-item:hover .nav-link + .dropdown {
      display: block;
    }
  }
}
