.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  background-size: 1.125rem 1.125rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #59cf1f !important;
}

.has-success .form-control {
  border-color: #59cf1f !important;
}
.has-success .form-control:focus {
  -webkit-box-shadow: 0 0 2px #59cf1f !important;
  box-shadow: 0 0 2px #59cf1f !important;
}

.has-success .input-group-addon {
  color: #59cf1f !important;
  border-color: #59cf1f !important;
  background-color: #eaf6ea;
}

.has-success .form-control-success {
  background-image: url(../images/validate-success.png);
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #c81115;
}

.has-warning .form-control {
  border-color: #c81115;
}
.has-warning .form-control:focus {
  -webkit-box-shadow: 0 0 2px #c81115 !important;
  box-shadow: 0 0 2px #c81115 !important;
}

.has-warning .input-group-addon {
  color: #c81115 !important;
  border-color: #c81115 !important;
  background-color: white;
}

.has-warning .form-control-warning {
  background-image: url(../images/validate-error.png);
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #c81115;
}

.has-danger .form-control {
  border-color: #c81115 !important;
}
.has-danger .form-control:focus {
  -webkit-box-shadow: 0 0 2px #c81115 !important;
  box-shadow: 0 0 2px #c81115 !important;
}

.has-danger .input-group-addon {
  color: #c81115;
  border-color: #c81115;
  background-color: #fdf7f7;
}

.has-danger .form-control-danger {
  background-image: url(../images/validate-error.png);
}

.error-msg > * {
  color: #c81115;
}
